Source: libsml
Priority: extra
Maintainer: Steffen Vogel <info@steffenvogel.de>
Build-Depends: debhelper (>= 7.0.50~), uuid-dev (>= 2.16)
Standards-Version: 3.9.2
Section: libs
Homepage: http://github.com/dailab/libsml
Vcs-Git: git://github.com/dailab/libsml.git
Vcs-Browser: http://github.com/dailab/libsml

Package: libsml-dev
Section: libdevel
Architecture: any
Depends: libsml1 (= ${binary:Version}), uuid-dev (>= 2.16), ${misc:Depends}
Description: Header files for libSML
 This package includes header include files
 and an example for libSML

Package: libsml1
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Library for the Smart Messaging Language (SML)
 libSML is a library which implements the Smart Messaging Language (SML)
 protocol specified by VDE's Forum Netztechnik/Netzbetrieb (FNN).
 It can be utilized to communicate to FNN specified Smart Meters
 or Smart Meter components (EDL/MUC).
